.text {
  width: 600px;
  margin: auto;
  padding-top: 100px;
  line-height: 1.7;
  color: var(--color-yellow);
  font-size: var(--font-size-header);
  text-align: center;
  text-shadow: 1px 1px 2px rgb(236, 238, 114), 0 0 1em blue, 0 0 0.2em blue;

  --webkit-text-stroke-color: var(--color-yellow);
  --webkit-text-stroke-width: 0.5px;
  --webkit-text-fill-color: transparent;
}